.header {
    display: flex;
    align-items: center;
    z-index: 500;
    min-height: 70px;
    padding: 20px;
    box-sizing: border-box;
    background: #00897b;

    .title {
      font-size: 24px;
      color: #fff;
      font-weight: 600;
    }
  }